
<!doctype html>
<html lang="en">
  <head>
  	{% if title %}
    	<title>NGO Event - {{ title }}</title>
    {% else %}
    	<title>NGO Event</title>
    {% endif %}
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
              {% endif %}             
            </div>
      </nav>
    </header>
    {% if messages %}
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}


    {% block content %} {% endblock %}

  </body>
</html>


